<?xml version="1.0"?>
<launch>
    <!-- Настроим только лида́р, убрав камеру -->
    <group ns="lidar">
        <!-- Запускаем драйвер лидара (например, для YDLIDAR или другого устройства) -->
        <include file="$(find ydlidar_ros_driver)/launch/ydlidar_ros_driver.launch">
            <arg name="frame_id" value="base_link"/>
        </include>
    </group>

    <arg name="publish_tf" default="true" />

    <!-- Настроим одометрию для лидара -->
    <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">
        <param name="subscribe_rgbd" type="bool" value="false" /> <!-- Не используем данные RGBD -->
        <param name="frame_id" type="string" value="base_link" />
        <param name="odom_frame_id" type="string" value="odom" />
        <param name="publish_tf" type="bool" value="$(arg publish_tf)" />
        <param name="publish_null_when_lost" type="bool" value="true" />
        
        <!-- Параметры для работы с лида́ром -->
        <param name="Odom/Strategy" type="string" value="1" /> <!-- Используем лида́р для одометрии -->
        <remap from="odom" to="visual_odometry" />
        <remap from="depth/image" to="scan" /> <!-- Это может быть другой топик с данными лидара -->
    </node>
</launch>
